body {
  background-color: yellow;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 200px;
}
#main-container {
  background-color: #d1d8e8;
  height: 250px;
  width: 350px;
  border: 2px solid green;
  justify-content: space-between;
}
.boxes {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
a
 {
  color: black;
  height: 160px;
  width: 300px;
  background-color: green;
  text-decoration: underline;
  flex-direction: column;
  font-size: larger;
  justify-content: center;
  display: flex;
  align-items: center;
}
