body {
  margin: 0 auto;
}
#navbar {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #555;
}
.logo-container,
.profile-container {
  width: auto;
}
.logo-container h3 {
  display: inline-block;
  color: #555;
}
.logo-container {
  display: flex;
  align-items: center;
}
.logo-container img {
  padding: 0 15px 0 15px;
}
.profile-container {
  padding-right: 15px;
}
.profile-container img {
  border-radius: 50%;
  width: 60px;
}
.navbar img {
  height: 60px;
}
.sidebar {
  border-right: 2px solid #555;
}
.sidebar > nav {
  display: flex;
  flex-direction: column;
}
nav a {
  padding: 15px;
  color: #555;
  text-decoration: none;
}
.main-container {
  margin: 0px;
  height: 100vh;
}
span {
  color: red;
}
.heading {
  display: flex;
}
.heading a {
  color: #575757;
  padding: 15px 0 15px 35px;
}
form {
  padding-left: 30px;
}
label {
  display: block;
}
input[type="text"],
input[type="tel"],
input[type="email"] {
  width: 90%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 15px;
  transition: border-color 0.15s, box-shadow 0.15s;
}
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: #7db0fb;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(24, 117, 255, 0.25);
}
.form-group {
  margin-bottom: 15px;
}
.radio div {
  display: flex;
  align-items: center;
}
.check div {
  display: flex;
  align-items: center;
}
textarea {
  width: 50%;
  resize: none;
  border: 1px solid lightgray;
  outline: 0;
}
.button {
  display: flex;
  justify-content: flex-end;
  padding: 30px;
}
button[type="submit"],
button[type="reset"] {
  color: #fff;
  border: 0;
  padding: 15px 40px;
  border-radius: 80px;
  outline: 0;
  font-weight: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
button[type="reset"] {
  background-color: #ff7261;
  margin-right: 15px;
}
button[type="submit"] {
  background-color: #3bb989;
}
@media screen and (min-width: 770px) {
  html {
    font-size: 18px;
  }
  .sidebar {
    border-bottom: 0;
    width: 15%;
    height: 100vh;
  }
  main {
    display: flex;
    height: 100vh;
  }
  .main-container {
    width: 85%;
    margin: 0;
    height: 100vh;
  }
  .section_one,
  .section_two,
  .section_three {
    display: flex;
    justify-content: space-between;
  }
  .section_one div,
  .section_two div,
  .section_three div {
    width: 45%;
  }
  .radio {
    display: flex;
  }
  .section_four,
  .check {
    margin-right: 80px;
  }
  .check {
    display: flex;
    justify-content: space-between;
  }
  input[type="checkbox"],
  input[type="radio"] {
    margin-right: 10px;
    padding: 1rem;
  }
  input[type="text"],
  input[type="tel"],
  input[type="email"] {
    border-radius: 0px;
  }
  button[type="reset"],
  button[type="submit"] {
    padding: 15px 50px;
  }
}
@media screen and (min-width: 1600px) {
  html {
    font-size: 22px;
  }
}
@media screen and (min-width: 2000px) {
  html {
    font-size: 30px;
  }
}
