body {
  background-color: #301b1a;
  margin: 0;
}
#navbar {
  background-color: #533261;
  height: 80px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#logo-container {
  width: 300px;
  float: left;
  display: flex;
  justify-content: flex-start;
  padding: 15px;
}
#logo-container img {
  height: 60px;
  margin-right: 15px;
  padding: 15px;
}
#logo-container h2 {
  display: inline-block;
  color: white;
}
#menu-container {
  width: 250px;
  float: right;
}
#menu-container a {
  color: white;
  text-decoration: none;
  padding: 15px;
}
#main-container {
  background-color: #d2d9e9;
  height: 250px;
  margin: 15px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
.boxes {
  background-color: #8ae382;
  width: 300px;
  padding: 15px;
  float: left;
}
#secondary-container {
  background-color: #b94141;
  height: 200px;
  margin: 0 15px 15px 15px;
  padding: 15px;
}
#inner-container {
  background-color: #dadada;
  height: 200px;
  margin-bottom: 15px;
  border: 2px solid #2ca122;
  overflow-x: hidden;
  overflow-y: auto;
}
.first {
  margin-right: 40px;
  margin-left: 5px;
}
.second {
  margin-left: 70px;
}
.left {
  float: left;
  display: flex;
  align-self: center;
}
.right {
  float: right;
  display: flex;
  align-self: center;
}
.left img {
  height: 50px;
  padding: 15px;
}
.left h2 {
  display: inline;
  color: white;
}
.right a {
  color: white;
  padding: 10px;
  display: inline;
  text-decoration: none;
}
@media only screen and (max-width: 621) {
  .menu-container a {
    display: none;
  }
  .boxes {
    width: calc(100% - 30px);
    margin-bottom: 15px;
  }
  .boxes:last-child {
    margin-bottom: 0;
  }
  #main-container {
    display: block;
    height: auto;
  }
}
